body{
    background-color: darkkhaki;
    color: darkgreen;
    position: relative;
}
#btn{
    color: goldenrod;
    background-color: lightsalmon;
}
h1{
    color: azure;
    background-color:blueviolet;
}
h2{
    color: yellow;
    background-color: dodgerblue;
}
p{
    background-color: mediumblue;
    color: yellowgreen;
}
div{
    display: flex;
}
.forms{
    grid-template-columns: min-content;
}